*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}
.big-title{
    color: #5874CC;
    padding: 0 0.5em;
}
main{
    height: 92vh;
    display: flex;
}
nav{
    background-color: rgb(255, 255, 255);
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em ;
}
nav button {
    color: #5874CC;
    margin-bottom: 1em ;
    font-size: 1.7em;
    width: 100%;
    border: none;
    background-color: white;

}
.sous-main{
    position: relative;
    align-items: center;
    width: 100%;
    padding: 1em;
    border-radius: 1em 1em 0 1em ;
    background-color: #5874CC;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -webkit-border-radius: 1em 1em 0 1em ;
    -moz-border-radius: 1em 1em 0 1em ;
    -ms-border-radius: 1em 1em 0 1em ;
    -o-border-radius: 1em 1em 0 1em ;
}
.home{
    background-color: rgba(255, 255, 255, 0.555);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    border-radius: 0 3em 0 3em;
    -webkit-border-radius: 0 3em 0 3em;
    -moz-border-radius: 0 3em 0 3em;
    -ms-border-radius: 0 3em 0 3em;
    -o-border-radius: 0 3em 0 3em;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home div {
    width: 40% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedback-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.active{
    background-color: #5874CC !important;
    border-radius: 0 !important;
    padding: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.active i{
    color: white !important;
}


button{
    border: none;
    padding: 0.4em 0.6em;
    border-radius: 10px 0 10px 0 ;
    -webkit-border-radius: 10px 0 10px 0 ;
    -moz-border-radius: 10px 0 10px 0 ;
    -ms-border-radius: 10px 0 10px 0 ;
    -o-border-radius: 10px 0 10px 0 ;
}

[description="d-none"] {
    display: none !important;
}


.answers{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.questions{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers button{
    width: 80%;
    margin: 0.5em 0;
}
.answers button span{
    float: left;
    margin: 0 0.4em;
}
#submit-answer{
    width: 35%;
    margin-left: auto;
}



/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
